#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #0A0F1D;
}

.port {
  align-items: center;
  color: #fff;
  font-size: 1.0rem;
  justify-content: space-between;
  margin-top: 2rem;
}

.port-avatar {
  width: 150px;
  height: 150px;
  border-radius: 1000px;
  margin-bottom: 2rem;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-buttom {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 3rem;
}

.titulos {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.experiencia, .proyecto {
  display: flex;
  justify-content: center;  /* Centra los elementos horizontalmente */
  align-items: center;      /* Centra los elementos verticalmente */
  gap: 30px;                /* Aumenta el espacio entre los elementos */
  margin: 20px auto;        /* Agrega margen superior e inferior y centra horizontalmente */
  padding: 20px;            /* Agrega un poco de padding alrededor */
  max-width: 1000px;         /* Limita el ancho para que no ocupe toda la pantalla */
}

.info-experiencia {
  text-align: start;       /* Centra el texto dentro de la parte izquierda */
  min-width: 300px;
}

.info-proyecto {
  text-align: start;       /* Centra el texto dentro de la parte izquierda */
  min-width: 400px;
}

.puesto {
  font-size: 1.2rem;
  font-weight: bold;
  display: block; /* Para separar líneas */
}

.empresa, .fecha {
  display: block;
  color: #666;
  font-size: 0.9rem;
}

.descripcion {
  flex: 1;
  text-align: justify; 
}

@media (max-width: 768px) {
  .experiencia, .proyecto {
    display: flex; /* Asegura que flexbox está activo */
    flex-direction: column; /* Cambia a diseño vertical */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Centra el texto */
    width: 95%; /* Asegura que ocupe todo el ancho disponible */
  }
}

/* Responsividad */
@media (max-width: 768px) {
  .tecno {
    justify-content: center;
    width: 95%; 
  }

  .badge {
    font-size: 0.9rem; /* Ajusta el tamaño en pantallas pequeñas */
    padding: 6px 10px;
  }
}

.btn-group {
  display: flex;
  gap: 10px; /* Agrega espacio entre botones */
}

.btn {
  border-radius: 30px; /* Bordes redondeados */
  padding: 10px 20px; /* Más espacio interno */
  transition: all 0.3s ease-in-out; /* Suaviza efectos */
}

.btn:hover {
  transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}

.footer {
  background: #0A0F1D;
  color: #666;
  padding: 1rem;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.img-proyecto {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid white; 
}

.spce-btn {
  display: flex;
  gap: 30px; /* Agrega espacio entre botones */
  margin-right: 1rem;
}



